<h1><%= t('editing.mining_type') %></h1>

<%= render 'form', mining_type: @mining_type %>

<div class="nav justify-content-end">
  <%= link_to t('links.show'), @mining_type, class: "btn btn-primary mr-2" %> 
  <%= link_to t('links.back'), mining_types_path, class: "btn btn-primary" %>
</div>
